<launch>
  <arg name="scan" default="scan" />
  <arg name="fixed_frame" default="odom" />

  <node name="laser_filter"
        pkg="laser_filters" type="scan_to_scan_filter_chain"
        respawn="true" >
    <rosparam command="load" file="$(find map_laser)/filters.yaml" />
    <remap from="scan" to="$(arg scan)" />
  </node>

  <node name="map_laser_filter"
        pkg="map_laser" type="filter.py"
        respawn="true" output="screen" />

  <node name="leg_detection"
        pkg="cob_leg_detection" type="leg_detection"
        args="$(find cob_leg_detection)/config/trained_leg_detector.yaml" >
    <remap from="scan" to="base_scan_filter" />
    <rosparam subst_value="true" >
      fixed_frame:            $(arg fixed_frame)
      connection_threshold:   0.15
      min_points_per_group:   20
      leg_reliability_limit:  0.21
      no_observation_timeout: 0.05
      max_second_leg_age:     0.0
      max_track_jump:         0.25
      max_meas_jump:          0.25
      leg_pair_separation:    0.46
      kalman_p:               4.0
      kalman_q:               0.002
      kalman_r:               10.0
      kalman_on: 1
    </rosparam>
  </node>
</launch>
